/* Import utitlities */
@import 'utils/normalize.css';
@import 'utils/variables.css';

/* Import components */
@import 'components/button.css';
@import 'components/card.css';
@import 'components/form.css';
@import 'components/strength-meter.css';

html {
  background: linear-gradient(45deg, #0073b1, #0c8996);
  background-attachment: fixed;
  font: 100%/1.5 -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: var(--c_text-primary);
}

main {
  margin: var(--spacingXXL) var(--spacingS);
}
