:root {
  /* Colours */
  --c_primary: #0073b1;

  --c_text-primary: #333;
  --c_white: #fff;
  --c_black: #000;
  --c_silverChalice: #aaa;

  /* Spacings  */
  --spacingXS: 8px;
  --spacingS: 16px;
  --spacingM: 24px;
  --spacingL: 32px;
  --spacingXL: 40px;
  --spacingXXL: 48px;

  /* Border radius */
  --borderRadiusS: 4px;
  --borderRadiusM: 12px;

  /* Animation */
  --animateSlow: 0.3s;
  --animateFast: 0.15s;
}
